.next {
  span {
    margin: 0 13px 0 13px;
  }
}

.pager {
  a {
    cursor: pointer;
  }
}

.table {
  td {
    input {
      border: none;
      background: transparent;
      outline: none;
    }
  }
}
