.next {
  span {
    margin: 0 13px 0 13px;
  }
}

.pager {
  a {
    cursor: pointer;
  }
}

.nav-tabs {
  a {
    position: relative;
    cursor: pointer;
  }
}

.selected-year {
  position: absolute;
  right: 15px;
  top: calc(50% - 7px);
}
